<tr>
  <td><%= coupe_carriage.number %></td>
  <td><%= link_to coupe_carriage.train.number, train_path(coupe_carriage.train) %></td>
  <td>Купе</td>
  <td><%= coupe_carriage.top_seats %></td>
  <td><%= coupe_carriage.bottom_seats %></td>
  <td></td>
  <td></td>
  <td></td>
  <td><%= link_to 'Посмотреть', carriage_path(coupe_carriage) %></td>
  <td><%= link_to 'Редактировать', edit_carriage_path(coupe_carriage) %></td>
  <td><%= link_to 'Удалить', carriage_path(coupe_carriage), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
</tr>
