<h1>Изменение билета</h1>

<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this route from being saved:</h2>
      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name%>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name%>
  </div>
  <div class="field">
    <%= f.label :second_name %>
    <%= f.text_field :second_name%>
  </div>
  <div class="field">
    <%= f.label :passport_number %>
    <%= f.text_field :passport_number %>
  </div>
  <div class="field">
    <%= f.label :start_station %>
    <%= f.collection_select :start_station_id, RailwayStation.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :finish_station %>
    <%= f.collection_select :finish_station_id, RailwayStation.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :train %>
    <%= f.collection_select :train_id, Train.all, :id, :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Посмотреть', ticket_path(@ticket) %> |
<%= link_to 'Назад', tickets_path %>
