<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.train_number_title') %></th>
      <th><%= t('.train_route_title') %></th>
      <th><%= t('.passenger_title') %></th>
      <th><%= t('.buyer_title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<br>

<%= link_to t('common.back'), search_path %>
