<h3><%= t('.title') %></h3>
<div class="btn-group-vertical" role="group">
  <%= link_to t('.trains'), admin_trains_path, class: 'btn btn-default dropdown-toggle' %>
  <%= link_to t('.stations'), admin_railway_stations_path, class: 'btn btn-default dropdown-toggle' %>
  <%= link_to t('.routes'), admin_routes_path, class: 'btn btn-default dropdown-toggle' %>
  <%= link_to t('.tickets'), tickets_path, class: 'btn btn-default dropdown-toggle' %>
  <%= link_to t('.search'), search_path, class: 'btn btn-default dropdown-toggle' %>
</div>
