<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Поезд:</strong>
  <%= link_to @carriage.train.number, train_path(@carriage.train) %>
</p>

<p>
  <strong>Порядковый номер:</strong>
  <%= @carriage.position %>
</p>

<p>
  <strong>Тип:</strong>
  СВ
</p>

<p>
  <strong>Кол-во нижних мест:</strong>
  <%= @carriage.bottom_seats %>
</p>

<%= link_to 'Изменение', edit_carriage_path(@carriage) %> |
<%= link_to 'Назад', carriages_path %>
