<h1><%= t('.title') %></h1>

<%= form_for([:admin, @carriage]) do |f| %>
  <% if @carriage.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('common.errors') %></h2>

      <ul>
      <% @carriage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.select :type, @carriage.types_select %>
  </div>

  <div class="field">
    <%= f.label :top_seats %>
    <%= f.number_field :top_seats, in: 1..50, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :bottom_seats %>
    <%= f.number_field :bottom_seats, in: 1..50, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :side_top_seats %>
    <%= f.number_field :side_top_seats, in: 1..50, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :side_bottom_seats %>
    <%= f.number_field :side_bottom_seats, in: 1..50, step: 1 %>
  </div>

  <div class="field">
    <%= f.label :seats %>
    <%= f.number_field :seats, in: 1..100, step: 1 %>
  </div>

  <div class="actions">
    <%= f.submit t('common.update') %>
  </div>
<% end %>


<%= link_to t('common.show'), admin_carriage_path(@carriage) %> |
<%= link_to t('common.back'), admin_train_path(@carriage.train) %>
