<p>
  <strong>Номер:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Поезд:</strong>
  <%= link_to @carriage.train.number, admin_train_path(@carriage.train) %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @carriage.type %>
</p>

<p>
  <strong>Порядковый номер:</strong>
  <%= @carriage.position %>
</p>

<% if @carriage.type == 'EconomyCarriage' || @carriage.type == 'CoupeCarriage' %>
  <p>
    <strong>Кол-во верхних мест:</strong>
    <%= @carriage.top_seats %>
  </p>
<% end %>

<% if @carriage.type == 'EconomyCarriage' || @carriage.type == 'BusinessCarriage' || @carriage.type == 'CoupeCarriage' %>
  <p>
    <strong>Кол-во нижних мест:</strong>
    <%= @carriage.bottom_seats %>
  </p>
<% end %>

<% if @carriage.type == 'EconomyCarriage' %>
  <p>
    <strong>Кол-во верхних боковых мест:</strong>
    <%= @carriage.side_top_seats %>
  </p>

  <p>
    <strong>Кол-во нижних боковых мест:</strong>
    <%= @carriage.side_bottom_seats %>
  </p>
<% end %>

<% if @carriage.type == 'SeatCarriage' %>
  <p>
    <strong>Кол-во мест:</strong>
    <%= @carriage.seats %>
  </p>
<% end %>

<%= link_to 'Изменение', edit_admin_carriage_path(@carriage) %> |
<%= link_to 'Назад', admin_train_path(@carriage.train) %>
