<div class="row">
  <%= form_for([:admin, train], html: { class: 'form-horizontal col-sm-6', role: 'form' }) do |f| %>
    <% if train.errors.any? %>
      <div id="error_explanation">
        <h2><%= t('common.errors') %></h2>

        <ul>
        <% train.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :number, class: 'col-sm-3 control-label' %>
      <%= f.text_field :number, class: 'col-sm-3 form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tail, class: 'col-sm-3 control-label' %>
      <%= f.check_box :tail, class: 'col-sm-3' %>
    </div>

    <div class="form-group">
      <%= f.label :route, class: 'col-sm-3 control-label' %>
      <%= f.collection_select :route_id, Route.all, :id, :name, {}, class: 'col-sm-3 form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "#{@train.new_record? ? t('common.create') : t('common.update')}", class: 'form-control' %>
    </div>
  <% end %>
</div>
