<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <%= @train.route.present? ? @train.route.name : 'Маршрут не назначен' %>
</p>

<p>
  <strong>с головы/c хвоста поезда:</strong>
  <%= @train.tail? ? 'Нумерация c хвоста поезда' : 'Нумерация c головы поезда' %>
</p>

<p>
  <strong>Купейных вагонов:</strong>
  <%= @train.coupe_count %>
  <% if @train.coupe.present? %>
    <strong>Кол-во верхних мест:</strong>
    <%= @train.coupe.top_seats %>
    <strong>Кол-во нижних мест:</strong>
    <%= @train.coupe.bottom_seats %>
  <% end %>
</p>

<p>
  <strong>Плацкартных вагонов:</strong>
  <%= @train.economy_count %>
  <% if @train.economy.present? %>
    <strong>Кол-во верхних мест:</strong>
    <%= @train.economy.top_seats %>
    <strong>Кол-во нижних мест:</strong>
    <%= @train.economy.bottom_seats %>
    <strong>Кол-во верхних боковых мест:</strong>
    <%= @train.economy.side_top_seats %>
    <strong>Кол-во нижних боковых мест:</strong>
    <%= @train.economy.side_bottom_seats %>
  <% end %>
</p>

<p>
  <strong>СВ вагонов:</strong>
  <%= @train.business_count %>
  <% if @train.business.present? %>
    <strong>Кол-во нижних мест:</strong>
    <%= @train.business.bottom_seats %>
  <% end %>
</p>

<p>
  <strong>Сидячих вагонов:</strong>
  <%= @train.seat_count %>
  <% if @train.business.present? %>
    <strong>Кол-во мест:</strong>
    <%= @train.seat.seats %>
  <% end %>
</p>

<% if @train.carriages.present? %>
  <strong>Вагоны списком:</strong>
  <% if @train.tail? %>
    <% @train.carriages.desc_position.each do |carriage| %>
      <p>
        <strong><%= carriage.position %>: </strong><%= link_to carriage.number, admin_carriage_path(carriage) %>
      </p>
    <% end %>
  <% else %>
    <% @train.carriages.asc_position.each do |carriage| %>
      <p>
        <strong><%= carriage.position %>: </strong><%= link_to carriage.number, admin_carriage_path(carriage) %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Добавить вагон', new_admin_train_carriage_path(@train) %> |
<%= link_to 'Изменение', edit_admin_train_path(@train) %> |
<%= link_to 'Назад', admin_trains_path %>
