<p>
  <strong><%= t('.train_number_title') %>:</strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('.train_route_title') %>:</strong>
  <%= @train.route.present? ? @train.route.name : t('.train_route_unknown')  %>
</p>

<p>
  <strong><%= t('.train_tail_title') %>:</strong>
  <%= @train.tail? ? t('.train_tail_true') : t('.train_tail_false') %>
</p>

<p>
  <strong><%= t('.train_coupe_carriages') %>:</strong>
  <%= @train.coupe_count %>
  <% if @train.coupe.present? %>
    <strong><%= t('.train_top_seats_count') %>:</strong>
    <%= @train.coupe.top_seats %>
    <strong><%= t('.train_bottom_seats_count') %>:</strong>
    <%= @train.coupe.bottom_seats %>
  <% end %>
</p>

<p>
  <strong><%= t('.train_economy_carriages') %>:</strong>
  <%= @train.economy_count %>
  <% if @train.economy.present? %>
    <strong><%= t('.train_top_seats_count') %>:</strong>
    <%= @train.economy.top_seats %>
    <strong><%= t('.train_bottom_seats_count') %>:</strong>
    <%= @train.economy.bottom_seats %>
    <strong><%= t('.train_side_top_seats_count') %>:</strong>
    <%= @train.economy.side_top_seats %>
    <strong><%= t('.train_side_bottom_seats_count') %>:</strong>
    <%= @train.economy.side_bottom_seats %>
  <% end %>
</p>

<p>
  <strong><%= t('.train_business_carriages') %>:</strong>
  <%= @train.business_count %>
  <% if @train.business.present? %>
    <strong><%= t('.train_bottom_seats_count') %>:</strong>
    <%= @train.business.bottom_seats %>
  <% end %>
</p>

<p>
  <strong><%= t('.train_seat_carriages') %>:</strong>
  <%= @train.seat_count %>
  <% if @train.business.present? %>
    <strong><%= t('.train_seats_count') %>:</strong>
    <%= @train.seat.seats %>
  <% end %>
</p>

<% if @train.carriages.present? %>
  <strong><%= t('.carriages_list_title') %>:</strong>
  <% if @train.tail? %>
    <% @train.carriages.desc_position.each do |carriage| %>
      <p>
        <strong><%= carriage.position %>: </strong><%= link_to carriage.number, admin_carriage_path(carriage) %>
      </p>
    <% end %>
  <% else %>
    <% @train.carriages.asc_position.each do |carriage| %>
      <p>
        <strong><%= carriage.position %>: </strong><%= link_to carriage.number, admin_carriage_path(carriage) %>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= link_to t('.new_carriage_button'), new_admin_train_carriage_path(@train) %> |
<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
